<!-- <div class="container">
  <div class="instructions-container">
    <h1>Test Instructions</h1>

    <div class="general-instructions">
      <h2>General Instructions:</h2>
      <ul>
        <li>Ensure that you have a stable internet connection throughout the test.</li>
        <li>Use a modern web browser for the best experience (Chrome, Firefox, Safari).</li>
        <li>Do not use the browser's back/forward buttons during the test.</li>
        <li>If you encounter technical issues, refresh the page or seek assistance.</li>
      </ul>
    </div>

    <div class="test-sections">
      <h2>Test Sections:</h2>

      <div class="section">
        <h3>1. Multiple Choice Questions:</h3>
        <p>- Answer each question by selecting the appropriate option.</p>
        <p>- Pay attention to the question wording and choose the best answer.</p>
      </div>

    
    </div>

    <div class="submission">
      <h2>Submission:</h2>
      <ul>
        <li>Review your answers before submitting.</li>
        <li>Ensure all questions are answered.</li>
        <li>Click the "Submit" button only when you are ready to submit your final responses.</li>
      </ul>
    </div>

    <div class="important-notes">
      <h2>Important Notes:</h2>
      <ul>
        <li>The test has a time limit of [Specify Time] minutes. Manage your time wisely.</li>
        <li>Avoid any distractions and maintain a quiet environment.</li>
        <li>Any attempt to cheat or use external aids will result in disqualification.</li>
      </ul>
    </div>
    <a href="testPage" class="btn btn-info" role="button">proceed</a> 
  </div>

</div> -->

<mat-card class="instructions-card">
  <mat-card-header>
    <mat-card-title>Instructions</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      Welcome to our platform! Follow these instructions to get started:
    </p>

    <ol>
      <li>Ensure that you have a stable internet connection throughout the test.</li>
      <li>Use a modern web browser for the best experience (Chrome, Firefox, Safari).</li>
      <li>Do not use the browser's back/forward buttons during the test.</li>
      <li>Fill in your personal details in the form provided.</li>
      <li>Click the "Start Test" button to begin the assessment.</li>
      <li>Complete the questions within the given time.</li>
      <li>Submit your answers by clicking the "Submit" button.</li>
    </ol>

    <p>
      If you encounter any issues or have questions, please contact our support team.
    </p>
    <a href="fill-form">
      <button mat-raised-button color="primary">
      Proceed
      </button>
    </a> 
    
    
  </mat-card-content>
</mat-card>