#timer {
    font-size: 1.6rem;
    // margin-bottom: 20px;
    color: #4285f4;
    display: block;
    padding-top:12px;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.timerr {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
  }