<div class="body">


  
<div class="que-div">
  <button mat-raised-button style="box-shadow: none;" class="back-button" (click)="backButton()"><i class="fas fa-arrow-left"></i></button>

  
  <h2>Create Question</h2>
  <input type="text" name="description" [(ngModel)]="description" placeholder="Enter a short description of the question" class="question-input" required>
</div>
<div class="container">
  <div class="btn-div">
    <button (click)="preview()">Preview</button>
    <button (click)="create()">Create</button>
  </div>
  <div class="options">
    <div class="input-wrapper">
      <h2>A</h2>
      <input type="radio" [checked]="correctOption['1']" (change)="setCorrectOption('1')" name="correctOption">
    </div>

    <div class="input-wrapper">
      <h2>B</h2>
      <input type="radio" [checked]="correctOption['2']" (change)="setCorrectOption('2')" name="correctOption">
    </div>

    <div class="input-wrapper">
      <h2>C</h2>
      <input type="radio" [checked]="correctOption['3']" (change)="setCorrectOption('3')" name="correctOption">
    </div>

    <div class="input-wrapper">
      <h2>D</h2>
      <input type="radio" [checked]="correctOption['4']" (change)="setCorrectOption('4')" name="correctOption">
    </div>
  </div>
</div>

<div class="editor-container" #editor></div>

</div>
<!-- <button (click)="getData(quill)">Get Data</button> -->
<!-- <div [innerHTML]="sanitized(storedContent)" class="stored-content" style="white-space: pre-wrap;word-wrap: break-word;"></div> -->