.alert { 
    // background-color: #0b0b0b;
    color: red;
    font-size: larger;
    font-weight: bold;
     padding: 10px; 
    //  padding-top: 50px;
    //  position: fixed; 
    text-align: center;
    margin-top: 0px;
    // margin-bottom: 300px;
    }
