:host{
    display: block;
    height: 100vh;
}
h2{
    margin-top:10px;
    margin-left:10px;
}
.stored-content {
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
    color: #333;
}